@import "fonts";
@import "variables";
@import "mixins";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $bg;
}

main {
    display: flex;
    width: 680px;
    background-color: white;
    margin: 10rem auto;
    border-radius: 10px;
    @include text;

    .img {
        width: 40%;
        background-image: url(../assets/images/drawers.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px 0 0 10px;
    }

    .content {
        width: 60%;
        padding: 2rem;
        position: relative;

        .profil {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1.5rem;

            .avatar {
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }

            .name {
                flex-grow: 1;
                margin-left: 1rem;
                line-height: 20px;
            }

            button {
                background-color: $bg;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: none;
                cursor: pointer;

                &:hover {
                    background-color: $share;

                    img {
                        content: url(../assets/images/icon-share-white.svg);
                    }
                }
            }
        }

        .popup {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0 20px;
            border-radius: 10px;
            width: 210px;
            height: 45px;
            background-color: $popup;
            position: absolute;
            right: -58px;
            bottom: 100px;
            box-shadow: 0px 3px 10px $text;

            &::before {
                content: "";
                position: absolute;
                top: 44px;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid $popup;
            }
        
            img {
                width: 17px;
                height: 17px;
            }

            .sharebtn-popup {
                display: none;
            }

            &.hidden {
                display: none;
            }
        
        }
    }

    @media screen and (max-width : 767px) {
        flex-direction: column;
        width: 350px;
        height: 500px;

        .img {
            height: 40%;
            width: 100%;
            border-radius: 10px 10px 0 0;
        } 

        .content {
            height: 60%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .profil {
                margin-top: 0;
            }

            .popup {
                bottom: 0;
                width: 100%;
                height: 70px;
                left: 0;
                border-radius: 0 0 10px 10px;

                .sharebtn-popup {
                    display:block;
                    background-color: $share;
                    width: 25px;
                    height: 25px;
                    margin-left: 90px;

                    img {
                        width: 12px;
                        height: 12px;
                    }
                }

                &::before {
                    display: none;
                }

            }
        }
        
    }

    @media screen and (max-width : 400px) {
        width: 300px;
        height: 600px;
    }
}

