@font-face {
    font-family: "Josefin" ;
    src: url(assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hero {
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: "Josefin", sans-serif ;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color:  hsl(0, 36%, 70%);
    background: linear-gradient(135deg, hsl(0, 0%, 100%),hsl(0, 100%, 98%));
}

.herologo {
    display: none;
}

.hero-content {
    min-width: 55%;
    background-image: url(assets/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 10rem;
}

@media screen and (max-width : 1250px) {
    .hero-content {
        padding: 3rem 6rem;
    }
}

@media screen and (max-width : 1000px) {
    .hero-content {
        padding: 3rem;
    }
}

.logo {
    margin-bottom: 10rem;
}

h1 {
    color: black;
    font-weight: 500;
    line-height: 70px;
    font-size: 60px;
    letter-spacing: 15px;
    margin-bottom: 1.5rem;
}


h1 span {
    font-weight: 300;
    color: hsl(0, 36%, 70%) ;
}

form {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 0.5px solid hsl(0, 36%, 70%);
    border-right: none;
    border-radius: 25px;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

button {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: none;
    min-width: 85px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 10px 15px hsl(0, 61%, 90%);
    margin-left: 1rem;
}

button:hover {
    background: hsl(0, 80%, 86%);
    box-shadow: 0px 10px 20px hsla(0, 20%, 65%, 0.705);
    height: 51px;
}

input {
    border: none;
    background: transparent;
    width: 80%;
    height: 100%;
    outline: none;
}

input:focus {
    outline: 1px solid hsl(0, 36%, 70%);
}

input::placeholder {
    font-family: "Josefin", sans-serif;
    color: hsla(0, 36%, 70%, 0.402) ;
}

.error {
    display: none;
}

.alert {
    color: rgb(243, 90, 90);
    font-size: 12px;
    padding-left: 2rem;
    margin-top: 2px;
    display: none;
}

.hero-image {
    background-image: url(assets/images/hero-desktop.jpg);
    min-width: 45%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width : 767px) {
    .hero {
        flex-direction: column;
    }

    .hero-content {
        width: 100%;
        text-align: center;
        order: 2;
        padding: 5rem;
    }

    .logo {
        display: none;
    }

    h1 {
        margin-top: 0;
    }

    .hero-image {
        width: 100%;
        height: 40%;
        background-image: url(assets/images/hero-mobile.jpg);
    }

    .herologo {
        display: flex;
        padding: 3rem;
    }
}

@media screen and (max-width : 535px) {
    .hero-content {
        padding: 5rem 2rem;
    }

    h1 {
        font-size: 50px;
    }

    button {
        min-width: 70px;
        margin-left: 0.5rem;
    }

    input {
        width: 70%;
    }
}

@media screen and (max-width : 360px) {
    h1 {
        font-size: 40px;
        line-height: 50px;
    }
}