@font-face {
    font-family: "PoppinsReg";
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "PoppinsSB";
    src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "PoppinsBold";
    src: url(../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "PoppinsEB";
    src: url(../assets/fonts/Poppins-ExtraBold.ttf);
}