$focus : hsl(249, 10%, 26%);
$placeholder : hsl(246, 25%, 77%);
$cta : hsl(248, 32%, 49%);
$button : hsl(154, 59%, 51%);
$error : hsl(0, 100%, 74%) ;

$text : "PoppinsReg" , sans-serif;
$title : "PoppinsBold", sans-serif;
$accent : "PoppinsSB" , sans-serif;