@import "fonts";
@import "variables";
@import "mixins";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $error;
    background-image: url(../assets/images/bg-intro-desktop.png);
}

main {
    width: 80%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    @include text;

    @media screen and (max-width : 767px) {
        flex-direction: column;
        width: 90%;
        justify-content: center;
    }
}


.text {
    width: 45%;

    @media screen and (max-width : 767px) {
        width: 100%;
        text-align: center;
    }
}

.signup {
    width: 45%;

    .signup-header {
        background-color: $cta;
        text-align: center;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 7px 0 rgba(0, 0, 0, 0.22);
    }

    .signup-form {
        background: white;
        border-radius: 10px;
        padding: 2rem;
        margin-top: 2rem;
        box-shadow: 0 7px 0 rgba(0, 0, 0, 0.22);
        @include input;

        @media screen and (max-width : 425px) {
            padding: 2rem 1rem;
        }
    }

    @media screen and (max-width : 767px) {
        width: 100%;
        margin-top: 5rem;
    }
}