@font-face {
  font-family: "PoppinsReg";
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "PoppinsSB";
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "PoppinsBold";
  src: url(../assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "PoppinsEB";
  src: url(../assets/fonts/Poppins-ExtraBold.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(0, 100%, 74%);
  background-image: url(../assets/images/bg-intro-desktop.png);
}

main {
  width: 80%;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  font-family: "PoppinsReg", sans-serif;
  color: white;
  font-size: 16px;
}
main h1 {
  font-family: "PoppinsBold", sans-serif;
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 2rem;
}
@media screen and (max-width: 470px) {
  main h1 {
    font-size: 40px;
    line-height: 45px;
  }
}
@media screen and (max-width: 425px) {
  main h1 {
    font-size: 30px;
    line-height: 35px;
  }
}
main .bold {
  font-family: "PoppinsSB", sans-serif;
}
main .light {
  opacity: 0.8;
}
main .error-para {
  color: hsl(0, 100%, 74%);
  font-size: 10px;
  font-style: italic;
  text-align: end;
  display: none;
  margin-top: 4px;
}
main .error-placeholder::-moz-placeholder {
  font-family: "PoppinsSB", sans-serif;
  font-size: 12px;
  color: hsl(0, 100%, 74%);
}
main .error-placeholder::placeholder {
  font-family: "PoppinsSB", sans-serif;
  font-size: 12px;
  color: hsl(0, 100%, 74%);
}
@media screen and (max-width: 767px) {
  main {
    flex-direction: column;
    width: 90%;
    height: 100vh;
    justify-content: center;
  }
}

.text {
  width: 45%;
}
@media screen and (max-width: 767px) {
  .text {
    width: 100%;
    text-align: center;
  }
}

.signup {
  width: 45%;
}
.signup .signup-header {
  background-color: hsl(248, 32%, 49%);
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 7px 0 rgba(0, 0, 0, 0.22);
}
.signup .signup-form {
  background: white;
  border-radius: 10px;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 0 7px 0 rgba(0, 0, 0, 0.22);
}
.signup .signup-form .input-form {
  margin-bottom: 1rem;
}
.signup .signup-form .input-form .input-group {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 5px;
  padding: 0 1.5rem;
}
.signup .signup-form .input-form .input-group:focus-within {
  border: 1px solid hsl(249, 10%, 26%);
}
.signup .signup-form .input-form .input-group input {
  height: 100%;
  border: none;
  width: 100%;
  outline: none;
  border-radius: 5px;
}
.signup .signup-form .input-form .input-group input::-moz-placeholder {
  font-family: "PoppinsSB", sans-serif;
  font-size: 12px;
}
.signup .signup-form .input-form .input-group input::placeholder {
  font-family: "PoppinsSB", sans-serif;
  font-size: 12px;
}
.signup .signup-form .input-form .input-group .error {
  display: none;
}
.signup .signup-form button {
  height: 50px;
  width: 100%;
  border: none;
  background-color: hsl(154, 59%, 51%);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 3px 0 hsl(154, 59%, 42%);
  font-family: "PoppinsSB", sans-serif;
  color: white;
  font-size: 16px;
  margin-bottom: 1rem;
}
.signup .signup-form button:hover {
  background-color: hsl(154, 72%, 62%);
  box-shadow: 0 3px 0 hsl(154, 59%, 51%);
}
.signup .signup-form .terms {
  color: hsl(246, 25%, 77%);
  font-size: 10px;
  text-align: center;
  font-family: "PoppinsSB", sans-serif;
}
.signup .signup-form .terms .red {
  color: hsl(0, 100%, 74%);
}
@media screen and (max-width: 425px) {
  .signup .signup-form {
    padding: 2rem 1rem;
  }
}
@media screen and (max-width: 767px) {
  .signup {
    width: 100%;
    margin-top: 5rem;
  }
}

footer, a {
  font-family: "PoppinsReg", sans-serif;
  color: white;
  font-size: 16px;
  font-size: 11px;
  text-align: center;
  margin-bottom: 10px;
}
footer h1, a h1 {
  font-family: "PoppinsBold", sans-serif;
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 2rem;
}
@media screen and (max-width: 470px) {
  footer h1, a h1 {
    font-size: 40px;
    line-height: 45px;
  }
}
@media screen and (max-width: 425px) {
  footer h1, a h1 {
    font-size: 30px;
    line-height: 35px;
  }
}
footer .bold, a .bold {
  font-family: "PoppinsSB", sans-serif;
}
footer .light, a .light {
  opacity: 0.8;
}
footer .error-para, a .error-para {
  color: hsl(0, 100%, 74%);
  font-size: 10px;
  font-style: italic;
  text-align: end;
  display: none;
  margin-top: 4px;
}
footer .error-placeholder::-moz-placeholder, a .error-placeholder::-moz-placeholder {
  font-family: "PoppinsSB", sans-serif;
  font-size: 12px;
  color: hsl(0, 100%, 74%);
}
footer .error-placeholder::placeholder, a .error-placeholder::placeholder {
  font-family: "PoppinsSB", sans-serif;
  font-size: 12px;
  color: hsl(0, 100%, 74%);
}/*# sourceMappingURL=style.css.map */